body {
  font-family: "Fira Code", monospace;
  overflow: hidden;
}

nav {
  font-family: "Nova Mono", monospace;
  background: rgb(33, 148, 249);
  background: linear-gradient(
    90deg,
    rgba(33, 148, 249, 1) 0%,
    rgba(181, 76, 255, 1) 100%
  );
  z-index: 9999;
  position: absolute;
}

.navbar-brand {
  font-size: 2.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 2rem;
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  margin-right: 20px;
}

.active {
  color: white !important;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: white;
}

.parallelogram-blue {
  width: 400px;
  height: 250px;
  transform: skew(20deg);
  background: #48a9ffff;
  margin-left: 10vw;
  margin-top: 20vh;
  margin-right: 0;
}

.parallelogram-purple {
  width: 400px;
  height: 250px;
  transform: skew(20deg);
  background: #b042ff7b;
  margin-left: 15vw;
  margin-top: -200px;
  margin-right: 0;
}

.main-text {
  text-align: center;
  width: 950px;
  margin: 0 auto;
  padding: 40px 50px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 20px;
}

.main-text h1 {
  margin: auto;
  margin-top: auto;
}

.modal-title {
  font-size: 1.7rem !important;
}

.clear {
    vertical-align: middle;
}

.session-btn {
  border: none;
  background-color: #48a9ffff;
  background: linear-gradient(
    90deg,
    rgba(33, 148, 249, 1) 0%,
    rgba(181, 76, 255, 1) 100%
  );
  color: white;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 20px;
  padding: 5px;
  display: inline-block;
  font-weight: bold;
}

.session-btn:hover {
  box-shadow: 5px 10px 20px #888888;
}

.btn-gradient {
  background: linear-gradient(
    90deg,
    rgba(33, 148, 249, 1) 0%,
    rgba(181, 76, 255, 1) 100%
  );
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(33, 148, 249, 1) 0%,
    rgba(181, 76, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::placeholder {
  color: white;
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #48a9ffff;
  background: linear-gradient(
    180deg,
    rgba(33, 148, 249, 1) 0%,
    rgba(181, 76, 255, 1) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #48a9ffff;
  background: linear-gradient(
    180deg,
    rgba(33, 148, 249, 1) 0%,
    rgba(181, 76, 255, 1) 100%
  );
  border-radius: 10px;
}
